<%= form_for(@profile,:url=>profile_path(@profile),:method=>:PUT) do |f| %>
	<div >
		<div class="span4">
			<%= f.label :name%>
			<%= f.text_field :name, :class=>'span12'%>
			<%= f.label :email%>
			<%= f.text_field :email, :class=>'span12'%>
			<%= f.label :address%>
			<%= f.text_area :address, :rows=>3, :class=>'span12'%><br>
			<%= f.submit "Save", :class=>"btn btn-success"%>
			<%= link_to 'Back', postings_path, :class=>'btn'%>
		</div>
		<div class="offset1 span3">
			<%= image_tag(@profile.image)%><br>
			<%= f.label :image,"Upload new image"%>
			<%= f.file_field :image %>

		</div>
	</div>
<%end%>