<div class='row-fluid'>
	<div class="span1">
    <%img=User.where(:id => comment.user_id)[0]%>
    <%= image_tag(img.image_url,:size=>"30x30")%>
  </div> 
  <div class='span10' style="margin-left: -1%;margin-top: 0%;">
    <b><%= comment.user_name %> :</b>
    <%= comment.content %>
  </div>
	<%if current_user %>
		<%if current_user.id == comment.user_id %>
			<div class='span1'>
				<%= link_to image_tag('edit.png',:size=>'10x16'),edit_posting_comment_path(posting,comment) %>
				<%= link_to image_tag('delete.png',:size=>'10x16'),posting_comment_path(posting,comment), :method =>:delete, :remote=>true,:class=>"delete_comment","data-id"=>"comment-area-#{posting.id}comment-area-#{posting.id}"%>
			</div>
		<%end%>
	<%end%>
	<div class="clearfix" ></div>
	<hr style="width: 87%;margin-left: 5%;">
</div>


  