<div class="recent-activities">
  <div id='activity'>
    <%= render 'postings/paginate_activities'%>
  </div>
</div>
<%if current_user%>
  <%if @poll%>  
    <%if @poll.poll_answers.select{|c| c.user_id == current_user.id}.empty?%>  
      <div class="polling">
        <%#binding.pry%>
        <hr>
        <%= render :partial => "poll_answer",:locals => {:poll => @poll,:poll_answer => @poll_answer } %>
      </div>
    <%end%>
  <%end%>
<%end%>
<%if @previous_poll%>  
  <div class="poll-result">
    <h3>Yesterday's Poll</h3>
    <b><%= @previous_poll.question%></b><br>
    <div class="progress progress-success">
      <%=@yes_count%>%<div class="bar" style="width: <%=@yes_count.to_i%>%"></div>
    </div>
    <div class="progress progress-danger">
      <%=@no_count%>%<div class="bar" style="width: <%=@no_count.to_i%>%"></div>
    </div>
    <div class="progress progress-info">
      <%=@cant_say_count%>%<div class="bar" style="width: <%=@cant_say_count.to_i%>%"></div>
    </div>
  </div>
<%end%>