<div class='row-fluid page'>
  <div class='span9 main-area'>
    <div class="search-area">
      <%= form_tag(postings_path,:method=>:get) do%>
        <%if current_user%>
          <a href="#new_post" data-toggle="modal" class="btn" >Post</a>
        <%end%>
        <%=text_field_tag "search[caption]",(params[:search].present? ? params[:search][:caption]: ''), :class=>"input-medium search-query span6", :placeholder=>"Search"%>
        <%=submit_tag "Search" , :class=>'btn btn-info'%>
      <% end %>
            <!-- Modal -->
      <div id="new_post" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">New Post</h3>
        </div>
        <div class="modal-body">
          <%@posting=Posting.new%>
          <%= render 'form' %>
        </div>
      </div>
      <!--end of model-->
    </div>
    <%@postings.each do |posting|%>
      <hr style="margin-left: -1%;margin-right: 1%;">
      <div id="post_<%=posting.id%>" class="post-area">
        <ul class="thumbnails">
          <div class="span1">
            <%img=User.where(:id => posting.user_id)[0]%>
            <%if img.image_url%>
              <%= image_tag(img.image_url)%>
            <%end%>
            <h6><%= posting.user_name%></h6>
          </div>  
          <div class="span8">
            <h3><%= posting.caption%></h3>
            <%@pictures = posting.pictures%>
            <%@pictures.each do |picture|%>
              <li class="span4">
                <div class="thumbnail">
                  <a href="#picture_view-<%=posting.id%>" data-toggle="modal"><%= image_tag(picture.image_url,:style=>"width:300px;height:200px;")%></a>
                </div>
              </li>
            <%end%>
            <li class="span12"><p style="color: gray;"><%= posting.post%></p></li>
          </div>  
          <%if current_user%>
            <%if current_user.id==posting.user_id%>
              <div class="span2">
                

                                <!-- Button to trigger modal -->
                <a href="#map" data-toggle="modal"><%= posting.address%>&nbsp;&nbsp;&nbsp;</a>
                 
                <!-- Modal -->
                <div id="map" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Location</h3>
                  </div>
                  <div class="modal-body">
                    <p><%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{posting.latitude}%2C#{posting.longitude}" %></p>
                  </div>
                </div>

                
              </div>
              <div class="span1">  
                  <%= link_to image_tag("edit.png",:size=>"10x16"),edit_posting_path(posting)%>
                  <%= link_to image_tag("delete.png",:size=>"10x16"),posting_path(posting), :method =>:delete%>
              </div>
            <%end%>  
          <%end%>
                    <!-- Modal -->
          <div id="picture_view-<%=posting.id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel-<%=posting.id%>"><%=posting.caption%></h3>
            </div>
            <div class="modal-body">
              <div id="myCarousel-<%=posting.id%>" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <%@pictures = posting.pictures%>
                <%@pictures.each do |picture|%>
                  <div class="item"><%= image_tag(picture.image_url,:style=>"width:600px;height:400px;")%></div>
                <%end%>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel-<%=posting.id%>" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel-<%=posting.id%>" data-slide="next">&rsaquo;</a>
            </div>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
          </div>
          <!-- end of model -->
          <div class="clearfix"></div>         
        </ul>
        <%#binding.pry%>
      </div>
      <div class="share-area offset1">
        <%if current_user%>
          <b class="like"><%=posting.post_likes.count%></b>
          <%if posting.post_likes.select{|c|c.user_id == current_user.id}.empty?%>
            <%= link_to image_tag("like.ico",:size=>"30x20"),add_post_like_path(posting),:class=>"like_post"%>
          <%else%>
            <a href="#"><%=image_tag("like.ico",:size=>"30x20")%></a>
          <%end%>
          &nbsp;
          <b class="unlike"><%=posting.post_unlikes.count%></b>
          <%if posting.post_likes.select{|c|c.user_id == current_user.id}.empty?%>
            <%= link_to image_tag("unlike.ico",:size=>"30x20"),add_post_unlike_path(posting),:class=>"like_post"%>
          <%else%>
            <a href="#"><%=image_tag("unlike.ico",:size=>"30x20")%></a>
          <%end%>

          <a href="#" onclick='postToFeed("<%=posting.caption%>","<%=posting.post%>","<%=posting.pictures[0].image_url.to_s%>"); return false;' data-id="<%=posting.id%>"><%=image_tag("fb1.png",:size=>"30x20")%></a>&nbsp;
          <%= link_to image_tag("twitter1.png",:size=>"30x20"), "http://twitter.com/home?status=#{posting.caption} See complete story on http://proudindian.herokuapp.com/"%>
        <%end%>
      </div>    
      <br>
      <div class='span10 offset1 comment-area-<%=posting.id%> comment-area'>
        <!-- <hr style="margin: 20px 38px 20px -25px;"> -->
        <%= render :partial => "comments/comment_section",:collection => posting.comments , :as => :comment,:locals => {:posting => posting } %>
        <%if current_user%>
           <%= render :partial => "new_comment",:locals => {:posting => posting } %>
        <%end%>
      </div>   
      <div class="clearfix"></div>   
    <%end%>
  </div>  
  <div class='side-bar span3 fixed' style="margin-left:1%;">
    <div class="recent-activities">
      <%if not current_user%>
        <a href="/auth/facebook"><%= image_tag "fb.png" %></a><br><br>
        <a href="/auth/twitter"><%= image_tag "twitter.png" %></a><br>
        <a href="/auth/google_oauth2">google plus</a><br>
        <%#binding.pry%>
        <%= debug ENV['865000010300.apps.googleusercontent.com'] %>
        <%= debug ENV['33zae1oZFp-pctCecieYL2o_'] %>
      <%end%>
      <%= paginate @activities%>
      <% @activities.each do |activity| %>
      <%= activity.owner.name if activity.owner %>
      <%= render_activity activity %>
      <% end %>
    </div>
    <%if current_user%>
      <%if @poll%>  
        <%if @poll.poll_answers.select{|c| c.user_id == current_user.id}.empty?%>  
          <div class="polling">
            <%#binding.pry%>
            <hr>
            <%= render :partial => "poll_answer",:locals => {:poll => @poll,:poll_answer => @poll_answer } %>
          </div>
        <%end%>
      <%end%>
    <%end%>  
    <div class="poll-result">
      <%if @previous_poll%>
        <hr>
        Yesterday's Poll result:<br>
        <div class="progress progress-success">
          <%=@yes_count%>%<div class="bar" style="width: <%#=@yes_count.to_i%>%"></div>
        </div>
        <div class="progress progress-danger">
          <%=@no_count%>%<div class="bar" style="width: <%#=@no_count.to_i%>%"></div>
        </div>
        <div class="progress progress-warning">
          <%=@cant_say_count%>%<div class="bar" style="width: <%#=@cant_say_count.to_i%>%"></div>
        </div>
      <%end%>
    </div>
  </div>
</div>
<div class="clearfix"></div>