added a comment on <br>

<% if activity.trackable %>

	<% @post = Posting.where(:id=>activity.trackable.posting_id)[0]%>

	<ul class="thumbnails">
  <li><%= @post.user_name%></li>
  <li><%= @post.post_on%></li>
  <div class='clearfix'></div>
  <li class="span4">
    <div class="thumbnail">
      <%= image_tag(@post.image, :size=>'300x200')%>
      <h3><%= @post.caption%></h3>
    	<p><%= @post.post%></p>
    </div>
  </li>
  <div class='clearfix'></div>
  <li><%= link_to "Add Comment", new_posting_comment_path(@post)%></li>
  <% @post.comments.all.each do |comment| %>
  	<div class='clearfix'></div>
	  <div class='main-area span12'>
	  	<br>
	    <div class='span3'>
	      <%= comment.user_name %><br>
	      <%= comment.commented_on %>
	    </div>
	    <div class='span8'>
	      <%= comment.content %>
	    </div>
	    
	    <%#if current_user.uid == comment.user_id%>
		    <!-- <div class='span1'>
		      <%#= link_to image_tag(edit.png,:size=>'10x10'),edit_posting_comment_path(@post,comment) %>
		      <%#= link_to image_tag(delete.png,:size=>'10x10'),posting_comment_path(@posting,comment), method: :delete %>
		    </div> -->
	    <%#end%>
	    <div class='clearfix'></div>
	    <hr>
		</div>
  <%end%>
</ul>
 <br>
 <hr>
<% else %>
  which has since been removed<br>
<% end %>