<!DOCTYPE html>
<html>
<head>
  <title>ShameIndia</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "0d7bdf41-6d77-4204-8ba4-dc93a9941c33", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
 <script src='http://connect.facebook.net/en_US/all.js'></script>
</head>
<body>
<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href="<%= root_url%>">Shame India</a>
    <ul class="nav pull-right">
    	<% if current_user %>
    		<li><a href="#">Welcome <%= current_user.name %>!</a></li>
    		<li><a href="<%=signout_path%>">Logout</a></li>
    	<%else%>
        <li><a>User not logged in</a></li>
      	<!-- <li><a href="/auth/facebook">Login with Facebook</a></li>
      	<li><a href="/auth/twitter">Login with Twitter</a></li> -->
      <%end%>
    </ul>
  </div>
</div>

	<%= yield %>
  <br>
<div class="navbar-static-bottom" id="footer">
<p>Add .navbar-fixed-top and remember to account for the hidden area underneath it by adding at least 40px padding to the <body>. Be sure to add this after the core Bootstrap CSS and before the optional responsive CSS.</p>
</div>

</body>
</html>
